In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [4]:
df= yf.download('SPY,IWM,DIA', start='2012-07-10', end= '2022-07-10')

[*********************100%***********************]  3 of 3 completed

In [5]:
df.head()

             Adj Close                              Close             \
                   DIA        IWM         SPY         DIA        IWM
Date
2012-07-10  101.554420  69.260796  110.995560  126.349998  79.330002
2012-07-11  101.200775  69.025085  111.012077  125.910004  79.059998
2012-07-12  100.927475  68.789360  110.474243  125.570000  78.790001
2012-07-13  102.575249  69.644958  112.327759  127.620003  79.769997
2012-07-16  102.173286  69.365578  112.062958  127.120003  79.449997

                              High                                Low  \
                   SPY         DIA        IWM         SPY         DIA
Date
2012-07-10  134.139999  128.139999  80.959999  136.229996  125.910004
2012-07-11  134.160004  126.489998  79.650002  134.600006  125.190002
2012-07-12  133.509995  126.160004  79.099998  134.229996  124.769997
2012-07-13  135.750000  127.709999  80.089996  135.889999  125.860001
2012-07-16  135.429993  127.510002  79.879997  135.830002  126.750000

                                         Open                          Volume  \
                  IWM         SPY         DIA        IWM         SPY      DIA
Date
2012-07-10  78.980003  133.679993  127.959999  80.809998  136.009995  6730900
2012-07-11  78.550003  133.380005  126.430000  79.389999  134.210007  6839500
2012-07-12  77.589996  132.600006  125.209999  78.440002  133.380005  4412400
2012-07-13  79.019997  133.839996  125.919998  79.070000  133.860001  3942000
2012-07-16  79.110001  134.899994  127.250000  79.620003  135.440002  1991700


                 IWM        SPY
Date
2012-07-10  49990800  167884800
2012-07-11  40171300  141733400
2012-07-12  55502600  143583200
2012-07-13  42114800  129642600
2012-07-16  31922600   97525200

In [8]:
df.tail()

             Adj Close                               Close              \
                   DIA         IWM         SPY         DIA         IWM
Date
2022-07-01  310.720154  171.410004  381.239990  310.850006  171.410004
2022-07-05  309.580597  172.830002  381.959991  309.709991  172.830002
2022-07-06  310.280334  171.550003  383.250000  310.410004  171.550003
2022-07-07  313.818848  175.610001  388.989990  313.950012  175.610001
2022-07-08  313.329041  175.589996  388.670013  313.459991  175.589996

                              High                                 Low  \
                   SPY         DIA         IWM         SPY         DIA
Date
2022-07-01  381.239990  311.309998  171.839996  381.700012  304.769989
2022-07-05  381.959991  309.760010  172.899994  381.980011  303.579987
2022-07-06  383.250000  312.290009  173.710007  385.869995  307.940002
2022-07-07  388.989990  314.269989  175.979996  389.829987  311.609985
2022-07-08  388.670013  315.140015  176.990005  390.640015  312.170013

                                          Open                          \
                   IWM         SPY         DIA         IWM         SPY
Date
2022-07-01  167.660004  373.799988  307.399994  169.050003  376.559998
2022-07-05  166.729996  372.899994  306.600006  168.679993  375.880005
2022-07-06  169.750000  379.600006  310.000000  172.449997  382.109985
2022-07-07  172.850006  383.269989  312.540009  172.860001  385.119995
2022-07-08  173.649994  385.660004  313.500000  175.070007  387.269989

             Volume
                DIA       IWM       SPY
Date
2022-07-01  3312000  24558600  74792100
2022-07-05  3767700  25151100  81438000
2022-07-06  2493300  25697600  70426200
2022-07-07  2267500  24822500  64525900
2022-07-08  2092700  20507300  72332300

In [9]:
df.shape

(2516, 18)

In [11]:
df.columns

MultiIndex([('Adj Close', 'DIA'),
            ('Adj Close', 'IWM'),
            ('Adj Close', 'SPY'),
            (    'Close', 'DIA'),
            (    'Close', 'IWM'),
            (    'Close', 'SPY'),
            (     'High', 'DIA'),
            (     'High', 'IWM'),
            (     'High', 'SPY'),
            (      'Low', 'DIA'),
            (      'Low', 'IWM'),
            (      'Low', 'SPY'),
            (     'Open', 'DIA'),
            (     'Open', 'IWM'),
            (     'Open', 'SPY'),
            (   'Volume', 'DIA'),
            (   'Volume', 'IWM'),
            (   'Volume', 'SPY')],
           )

In [12]:
df.duplicated().sum()

0

In [13]:
df.isnull().sum()

Adj Close  DIA    0
           IWM    0
           SPY    0
Close      DIA    0
           IWM    0
           SPY    0
High       DIA    0
           IWM    0
           SPY    0
Low        DIA    0
           IWM    0
           SPY    0
Open       DIA    0
           IWM    0
           SPY    0
Volume     DIA    0
           IWM    0
           SPY    0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2012-07-10 to 2022-07-08
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Adj Close, DIA)  2516 non-null   float64
 1   (Adj Close, IWM)  2516 non-null   float64
 2   (Adj Close, SPY)  2516 non-null   float64
 3   (Close, DIA)      2516 non-null   float64
 4   (Close, IWM)      2516 non-null   float64
 5   (Close, SPY)      2516 non-null   float64
 6   (High, DIA)       2516 non-null   float64
 7   (High, IWM)       2516 non-null   float64
 8   (High, SPY)       2516 non-null   float64
 9   (Low, DIA)        2516 non-null   float64
 10  (Low, IWM)        2516 non-null   float64
 11  (Low, SPY)        2516 non-null   float64
 12  (Open, DIA)       2516 non-null   float64
 13  (Open, IWM)       2516 non-null   float64
 14  (Open, SPY)       2516 non-null   float64
 15  (Volume, DIA)     2516 non-null   int64
 16  (Volume, IWM)     2516 non-null   int64
 17  (Volume, SPY)     2516 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 373.5 KB

In [15]:
df.describe()

         Adj Close                                  Close               \
               DIA          IWM          SPY          DIA          IWM
count  2516.000000  2516.000000  2516.000000  2516.000000  2516.000000
mean    206.670683   134.435361   243.858225   225.116340   141.820986
std      72.821015    41.252453    94.147235    65.725848    38.424204
min     100.927475    66.920975   110.474243   125.510002    76.650002
25%     144.204029   103.886679   172.945915   170.202503   114.117502
50%     193.256271   128.957550   222.831001   213.735001   137.125000
75%     253.934441   153.144623   286.998116   267.132500   158.332497
max     364.222107   240.716629   474.182190   367.869995   242.559998

                           High                                    Low  \
               SPY          DIA          IWM          SPY          DIA
count  2516.000000  2516.000000  2516.000000  2516.000000  2516.000000
mean    261.956248   226.210183   142.877989   263.298613   223.887214
std      87.016187    66.159786    38.841775    87.626327    65.272631
min     133.509995   125.769997    77.309998   134.229996   124.419998
25%     199.102505   170.759995   115.105000   199.797501   169.529995
50%     243.324997   214.540001   137.965004   244.315002   212.934998
75%     300.667496   268.552498   159.314995   301.582504   266.004997
max     477.709991   369.500000   244.460007   479.980011   367.209991

                                        Open                            \
               IWM          SPY          DIA          IWM          SPY
count  2516.000000  2516.000000  2516.000000  2516.000000  2516.000000
mean    140.661975   260.411653   225.105835   141.858430   261.928390
std      38.022108    86.339829    65.754184    38.492037    87.040427
min      76.129997   132.600006   125.209999    76.269997   133.380005
25%     113.282501   197.942497   170.047497   114.187502   198.784996
50%     136.235001   242.294998   213.695000   137.279999   243.215004
75%     157.380005   299.094994   267.344994   158.560001   300.797508
max     241.929993   476.059998   367.709991   243.740005   479.220001

             Volume
                DIA           IWM           SPY
count  2.516000e+03  2.516000e+03  2.516000e+03
mean   4.886996e+06  3.094548e+07  9.898030e+07
std    2.946598e+06  1.410105e+07  4.905763e+07
min    6.116000e+05  1.200000e+03  2.027000e+07
25%    2.884675e+06  2.105628e+07  6.503432e+07
50%    4.113400e+06  2.800580e+07  8.740600e+07
75%    6.032925e+06  3.706460e+07  1.197476e+08
max    3.510240e+07  1.201778e+08  5.072443e+08

In [16]:
df.nunique()

Adj Close  DIA    2476
           IWM    2454
           SPY    2457
Close      DIA    2311
           IWM    2218
           SPY    2372
High       DIA    2312
           IWM    2217
           SPY    2361
Low        DIA    2326
           IWM    2210
           SPY    2354
Open       DIA    2306
           IWM    2214
           SPY    2379
Volume     DIA    2474
           IWM    2505
           SPY    2515
dtype: int64

In [23]:
df1= df['Adj Close'].mean()

In [26]:
df= pd.concat([df1], axis=1)

In [27]:
# User Input
current_age = int(input("What is your current age? "))
retire_age = int(input("What age will you retire? "))

What is your current age? 24
What age will you retire? 64

In [ ]:
balance = int(
        input("What is your current retirement account balance? ").replace(",", "")
    )
annual_contrib = int(
        input("What is your expected annual contribution? ").replace(",", "")
    )
benchmark = input("Which benchmark do you want to use? SPY | IWM | DIA ")
salary = int(input("What is your current annual salary? ").replace(",", ""))
four_oh_one_rate = (
        int(input("What is the 401k matching rate of your firm? (in whole number %)"))
        / 100
    )
retire_target = int(
        input("How much money do you need to retire? ").replace(",", "")
    )

In [ ]:
# Check for 401k matching level, calculate company match
        if (self.annual_contrib / self.salary) >= self.four_oh_one_rate:
# 401k Matching calculation
            self.four_oh_one_match = self.salary * self.four_oh_one_rate
        else:
# 401k matching calculation
            self.four_oh_one_match = self.salary * (
                self.annual_contrib / self.salary
            )

In [ ]:
# Set baseline balance and age based on Class local variables
        self.while_balance = self.balance
        self.while_age = self.current_age

# Calculate balance and age until retirement target is reached
        while self.while_balance < self.retire_target:

 # End of period balance calculation
            self.while_balance = (
                (self.while_balance * (self.rate_of_return + 1))
                + self.annual_contrib
                + self.four_oh_one_match
            )
            self.while_age += 1

        return (
            self.while_age,
            round(self.while_balance, 0),
            self.bench_data,
        )